<div class="cute-container-medium">
    <h1>Bem-vindo ao Sistema de Gerenciamento de Projetos de Iniciação Científica (SGPIC)</h1>
    <br>
    <p>O SGPIC é uma plataforma online que facilita o acompanhamento e a avaliação de projetos de iniciação científica realizados por alunos e professores de universidades. Com o SGPIC, você pode:</p>
    <ul>
        <li>Criar e gerenciar seus próprios projetos de pesquisa, definindo objetivos, metodologia, cronograma, orçamento e resultados esperados.</li>
        <li>Encontrar e se candidatar a projetos de pesquisa de seu interesse, oferecidos por professores ou instituições parceiras.</li>
        <li>Acompanhar o andamento dos projetos de pesquisa, registrando atividades, entregas, feedbacks e relatórios.</li>
        <li>Avaliar os projetos de pesquisa, atribuindo notas, comentários e sugestões de melhoria.</li>
        <li>Visualizar e compartilhar os resultados dos projetos de pesquisa, gerando gráficos, tabelas, resumos e artigos científicos.</li>
    </ul>
    <p>O SGPIC é uma ferramenta simples, intuitiva e eficiente, que visa estimular a produção científica de qualidade nas universidades, contribuindo para o desenvolvimento acadêmico e social do país.</p>
    <p>Para começar a usar o SGPIC, basta se cadastrar com seu e-mail institucional e criar seu perfil de usuário. Em seguida, você poderá acessar as funcionalidades do sistema, navegando pelo menu lateral.</p>
    <p>Se você tiver alguma dúvida ou sugestão, entre em contato conosco pelo e-mail <a href="mailto:sgpicsuporte@gmail.com">sgpicsuporte@gmail.com</a> ou pelo telefone <a href="tel:+556332184000">(63) 3218-4000</a>.</p>
    <p>Esperamos que você aproveite o SGPIC e que ele seja útil para o seu crescimento profissional e pessoal.</p>
    <p>Boa pesquisa! 🚀</p>
</div>